*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-bottom: solid black 2pt;
  box-shadow: 2pt 2pt 20pt thistle;
}

#logo h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: thistle;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 1rem;
  margin: 0;
}

#logo p {
  color: grey;
  text-indent: 0.8rem;
  font-style: italic;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

#breadcrumbs {
  align-self: flex-start;
  text-decoration: none;
  padding-left: 1rem;
  order: 1;
}

nav {
  align-self: flex-end;
  padding-right: 2rem;
}

nav ul {
  padding: 1rem;
  list-style: none;
  display: flex;
  font-size: 1.6rem;
  flex-direction: row;
  border: solid black 2pt;
}

nav ul li {
  padding: 1rem;
}

li a {
  text-decoration: none;
}
li a:link {
  color: black;
  text-decoration: underline black 2pt;
}
li a:visited {
  color: black;
}
li a:hover {
  color: thistle;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
li a:active {
  background-color: rosybrown;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

button a {
  text-decoration: none;
}
button a:link {
  color: white;
}
button a:visited {
  color: white;
}
button a:hover {
  color: thistle;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}
button a:active {
  background-color: rosybrown;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

main {
  padding: 10rem;
  padding-top: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  display: grid;
  max-width: none;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 4rem;
}

article {
  border: solid black 2pt;
  box-shadow: 2pt 2pt 10pt thistle;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

article h1 {
  margin: 1rem 1rem 1rem;
  align-self: center;
}

article button {
  background-color: black;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 5pt 5pt 10pt thistle;
  font-size: 1.2rem;
  margin-top: auto;
}

article img {
  align-self: center;
  order: -1;
  max-width: 100%;
}
